//author styles
 body{
    background-color: $bg-color;
 }

 //wraps around body
 #container {
    background-color: $container-color;
    height: auto;
	margin:0px auto;
	padding:0px;
	box-sizing:border-box;

	display:flex;
	flex-wrap:wrap; 
	flex-direction:row; 
	align-content:flex-start; 
	align-items:stretch;
 }

 @media only screen and (max-width: 375px) {
    #container{
        max-width: 375px;
    }
    a{
        width:98%;
    }
    header{
        h1{
            font-size: 2em;
        }
    }
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #container{
        max-width: 600px;
    }
    a{
        width:46%;
    }
    header{
        h1{
            font-size: 2.5em;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #container{
        max-width: 1000px;
    }
    header{
        h1{
            font-size: 3em;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #container{
        max-width: 1300px;
    }
    a{
        width:21%;
    }
    header{
        h1{
            font-size: 4.5em;
        }
    }
    
}

 header{
     width: 100%;
     text-align: center;
     h1{
         font-family: $display-font;
         color: $accent-color;
     }//h1
 }

    a{
        margin:2%;
        padding:2%;
        box-sizing:border-box;

        text-align: center;
        text-decoration: none;
        color: $body-text-color;
        font-family: $body-font;
        transition: ease;
        img{
            object-fit: contain;
            width: 100%;
            height: auto;
        }
    }
    a:hover{
        padding: 0%;
    }
    a:visited{
        color: $body-text-color;
    }


 p {
     font-family: $body-font;
     padding-left: 20px;
     padding-right: 20px;
 }

