@import url('https://fonts.googleapis.com/css?family=Montserrat|Satisfy&display=swap');

//COLORS
$bg-color: white;
$container-color: white;
$body-text-color: black;
$base-color: #B198E2;
$accent-color: #260F49;

//FONTS
$display-font: 'Satisfy', cursive;
$body-font: 'Montserrat', sans-serif;

//LAYOUT

//STYLE
$round: 10px;